@using TOEICReading4.Web.Startup
@model TOEICReading4.Web.Models.Roles.RoleListViewModel
@{
    ViewBag.Title = L("Roles");
    ViewBag.CurrentPageName = PageNames.Roles;
}
@section scripts
{
    <environment names="Development">
        <script src="~/view-resources/Views/Roles/Index.js" asp-append-version="true"></script>
    </environment>

    <environment names="Staging,Production">
        <script src="~/view-resources/Views/Roles/Index.min.js" asp-append-version="true"></script>
    </environment>
}

<div class="app-page">
    <section class="app-hero">
        <div class="app-hero-content">
            <div>
                <div class="app-hero-badges">
                    <span class="app-chip"><i class="fas fa-theater-masks"></i>@L("Roles")</span>
                </div>
                <h1>@L("Roles")</h1>
            </div>

            <div class="app-actions">
                <a href="javascript:;" data-bs-toggle="modal" data-bs-target="#RoleCreateModal" class="btn btn-primary">
                    <i class="fa fa-plus-square me-2"></i>@L("Create")
                </a>
            </div>
        </div>
    </section>

    <section class="app-panel">
        <div class="app-panel-header">
            <div>
                <h2>@L("Roles")</h2>
            </div>
            @await Html.PartialAsync("~/Views/Roles/Index.AdvancedSearch.cshtml")
        </div>

        <div class="app-table-wrap">
            <table id="RolesTable" class="table table-striped table-hover">
                <thead>
                    <tr>
                        <th></th>
                        <th>@L("RoleName")</th>
                        <th>@L("DisplayName")</th>
                        <th style="width: 150px">@L("Actions")</th>
                    </tr>
                </thead>
                <tbody></tbody>
            </table>
        </div>
    </section>
</div>

@await Html.PartialAsync("~/Views/Roles/_CreateModal.cshtml", Model)

<div class="modal fade" id="RoleEditModal" tabindex="-1" role="dialog" aria-labelledby="RoleEditModalLabel" data-bs-backdrop="static">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
        </div>
    </div>
</div>
